header {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    position: relative;
}

.slide {
    width:100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slide .left {
    background-image: url("../img_set_03/foto4.jpg");
    background-size: cover;
    background-position: center center;
    width: 40%;
    height: 100%;
    align-self: flex-end;
}

.slide .right {
    align-self: flex-start;
    width: 60%;
    padding-left: 6vw;
    position: relative;
}

.right .next {
    display: block;
    margin-left: 6vw;
    position: absolute;
    left:0;
    bottom:0;
    margin-bottom: -60px;
    width: 40px;
    height: 40px;
}

.next:before,
.next:after {
    background-color: #000;
    border-radius: 2px;
    content:"";
    display: block;
    width: 50%;
    height: 5px;
    position:absolute;
    left:25%;
    top:25%;
}

.next:before {
    transform: translateX(-25%) rotate(45deg);
    transform-origin: left bottom;
}

.next:after {
    transform: translateX(25%) rotate(-45deg);
    transform-origin: right bottom;
}

div>img {
    display: block;
    width: 100%; 
}

.righthead {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding-right: 0;
}

.slide .right .txt-container {
    margin-top: 5vw;
}

.right .txt-container h2 {
    font-size: 3.5rem;
    font-weight: 300;
}

@media screen and (max-width:767px) and (orientation:landscape) {
    
    #top header h2 {
        font-size: 2.25rem;
    }
}

@media screen and (max-width:720px) and (orientation:portrait) {
    
    .slide .left,
    .slide .right {
        width:100%;
    }
    
    #top .mobile-invisible {
        visibility: hidden;
        width:0;
        height:0;
        line-height: .1;
    }
}