nav {
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6vw 30px 6vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: .025em;
}

nav a:hover {
    text-decoration: none;
    letter-spacing: .035em;
}

nav h1,
nav h2,
nav h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (max-width:720px) {
    nav {
        background-color: #fff;
        border: 2px solid #ddd;
        padding: 15px 6vw 15px 6vw;
    }

}
